*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
table{
    margin: auto;
    border: 1px solid grey;
}
form *{
    display: block;
    margin: 2vh auto;
}
select{
    width: 25vw;
    height: 3vh;
    font-size: 1vw;
    padding:0;
}
textarea{
    text-align: left;
}
input{
    width: 25vw;
    height: 3vh;
    font-size: 1vw;
}
body{
    margin:0;
}
a, a:visited{
    font-weight: 800;
    display: inline-block;
    text-decoration: none;
    color: black;
}
a:hover{
    font-weight: 200;
    color: mediumslateblue;
}
main{
    padding: 3vh 2vw;
}
header{
    background-color: white;
    padding-bottom: 3vh;
}
header h1{
    text-align: right;
    font-family: 'Bungee Shade', sans-serif;
    font-size: 5em;
    padding: 3vh 2vw 0 0;
    margin: 0;
}
nav{
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom:1px;
}
.inline-form{
    display: inline-block;
    width: auto;
}
.logout button, .record-edit button, table button{
    display: inline;
    font-size: 1em;
    margin: 0;
    border: none;
    padding:0!important;
    width: auto;
    cursor: pointer;
}
.logout button:hover, .record-edit button:hover, table button:hover{
    font-weight: 800;
    color: mediumslateblue;
}
button{
    height: 4vh;
    width: 10vw;
    border-radius: 4px;
}
nav ul{
    flex:4;
    margin: 0;
    display: flex;
}
nav ul li{
    flex: 1;
    list-style: none;
    padding: 2vh 0;
    vertical-align: middle;
}
.login{
    flex:2;
    text-align: right;
    padding: 2vh 2vw 2vh 0;
}
.time-div{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10vw;
}
.time-button{
    height: 5vh;
    width: 10vw;
    margin: 1vh 1vw;
    border-radius: 4px;
}
td, th, tr{
    padding: 1vh 0.5vw;
    font-size: 1.5vw; 
    border: 1px solid grey;
    margin:0;
}
.filter{
    display: inline-block
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.cover{
    max-width: 100%;
}
.profile{
    margin: 4vh 0 0 0;
}
.notes{
    margin: 4vh 0 0 0;
}
.profile-pic{
    max-height: 40vh;
    max-width: 40vh;
}