<h1>Employee - Login</h1>
<form action="/employee_session" method="post">
    <label for="email">Email</label>
    <input type="email" name="email">
    <label for="password">password</label>
    <input type="password" name="password">
    <button>Login!</button>
</form>